<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C[Dot]C</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    
    <nav id="navbar">
        <ul id="ul_nav">            
            <li id="li_nav_options"><a href="index.php">Home</a></li>
            <li id="li_nav_options"><a href="doc_login.php">Doctor</a></li>
            <li id="li_nav_options"><a href="pat_login.php">Patient</a></li>
            <li id="li_nav_options"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h3 style="color: crimson;">Patients Hello</h3>
    
    <div id="doc_image_div">
        <img src="../images/doc.jpg" alt="" height="50%" width="50%">
    </div>

</body>
</html>