body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#navbar{
    width: auto;
    height: 3rem;
    background-color: crimson;
    padding: 0;
    margin: 0;
}

#ul_nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#li_nav_options{
    display: inline;
    float: right;
    padding: 1rem 2.5rem 1rem 2rem ;
}

#li_nav_options a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#disease_div {
    padding: 1.5rem;
    margin: 1rem 0 0rem 0;
    position: absolute;
    height: 100%;
    max-height: 80%;
    width: 45%;
    left: 25%;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
}

.disease_table tr {
    display: block;
}

#disease_form {
    margin: -0.5rem 1rem 0 0;
    width: 100%;
}

#doc_image_div {
    bottom: -1%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1%;
}

#dis_button {
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 3px;
    width: 6rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: small;
    cursor: pointer;
}

#dis_button:hover {
    color: white;
    background-color: crimson;
}

.add_symptom {
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 3px;
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: small;
    cursor: pointer;
}

.add_symptom:hover {
    color: white;
    background-color: crimson;
}