body {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#navbar{
    width: auto;
    height: 3rem;
    background-color: crimson;
    padding: 0;
    margin: 0;
}

#ul_nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#li_nav_options{
    display: inline;
    float: right;
    padding: 1rem 2.5rem 1rem 2rem ;
}

#li_nav_options a{
    text-decoration: none;
    color: white;
    text-align: center;
}

#doc_image_div {
    bottom: -1%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1%;
}

#login_div {
    left: 40%;
    height: 20%;
    width: 20%;
    max-width: 30%;
    position: relative;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    border-radius: 5px;
    padding: 1rem 2.5rem 2rem 2rem;
    margin-top: 7rem;
}

#login_button {
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
    border-radius: 3px;
    width: 6rem;
    height: 2rem;
    margin-top: 1rem;
    font-size: medium;
    cursor: pointer;
    position: relative;
}

#login_button:hover {
    color: white;
    background-color: crimson;
}